.main{
    width: 100%
}
.posts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}